# name: Deploy Flutter Web

# on:
#   push:
#     branches:
#       - main
# permissions:
#   contents: write
#   pages: write

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     # 1. Checkout repository
#     - name: Checkout code
#       uses: actions/checkout@v3

#     # 2. Setup Flutter
#     - name: Setup Flutter
#       uses: subosito/flutter-action@v2
#       with:
#         flutter-version: '3.24.4' # أو أي إصدار ثابت تريد استخدامه
#         channel: stable

#     # 3. Install dependencies
#     - name: Install dependencies
#       run: flutter pub get

#     # 4. Build the web app
#     - name: Build Flutter Web
#       # run: flutter build web --base-href="/AlsouqAllWeb/" --dart-define SUPABASE_URL=${{ secrets.SUPABASE_URL }} --dart-define SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }}
#       run: flutter build web --base-href="/MyKids/" --dart-define=SUPABASE_URL=${{ secrets.SUPABASE_URL }} --dart-define=SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }}
#       # run: flutter build web --dart-define SUPABASE_URL=${{ secrets.SUPABASE_URL }} --dart-define SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }}

#     # 5. Deploy to GitHub Pages
#     - name: Deploy to GitHub Pages
#       uses: peaceiris/actions-gh-pages@v3
#       with:
#         github_token: ${{ secrets.GITHUB_TOKEN }}
#         publish_dir: build/web
name: Deploy Flutter Web

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.7'
        channel: stable

    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter Web
      run: flutter build web --base-href="/MyKids/" --dart-define SUPABASE_URL=${{ secrets.SUPABASE_URL }} --dart-define SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }}

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/web
